@import "tailwindcss";

:root {
  color-scheme: dark;
  font-family: "Inter";
}

body {
  min-height: 100vh;
  background-color: #191717;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}
